* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #dfe6e9;
  display: grid;
  place-items: center;
}

.container {
  width: 800px;
  height: 650px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  user-select: none;
}

.ledger {
  background-color: #2f3542;
  padding: 20px;
  flex: 1;
  color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 185px;
  display: flex;
  flex-basis: 50%;
  height: 650px;
}

h2 {
  text-transform: uppercase;
  position: absolute;
  /* top: -37px; */
  bottom: 85%;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #feca57;
}


.balance {

  position: relative;
  /* left: 5px; */
  right: 327px;
  top: 111px;
  color: white;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

#balance {
  position: absolute;
  left: 26%;
  top: 170px;
  color: white;
  margin-left: 1px;
}

.inc-exp-container {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.inc-exp-container {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-size: 18px;
  flex: 1;
  border-radius: 2px;
  display: absolute;
  left: 300px;
}

.inc-exp-container div p {
  font-size: 22px;
  padding: 12px;
  padding-top: 14px;
  padding-left: 2px;
}

.inc-exp-container div.inc {
  border: 3px solid #1dd1a1;
  color: white;
  width: 134px;
  height: 100px;
  position: relative;
  right: 429px;
  top: 184px;
  gap: 7px;
  border-radius: 4px;
  border-width: 1px;
  padding: 12px;

  border-style: solid;
  /* Adjust the border style as needed */
  /* Adjust the border width as needed */
  border-color: #1dd1a1;
}

.expenses {
  border: 3px solid #1dd1a1;
  color: white;
  width: 135px;
  height: 100px;
  position: relative;
  right: 409px;
  top: 184px;
  margin-left: -17px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  padding: 12px;
}

label {
  position: relative;
  right: 187px;
  top: 48px;
  text-transform: capitalize;
}

input[type="text"] {
  position: relative;
  right: 179px;
  height: 42px;
  width: 303px;
  top: 67px;
  outline: none;
}

.amount {
  position: absolute;
  color: white;
  right: 241px;
  font-size: 16px;
  top: 238px;
  text-transform: capitalize;
}

input[type="number"] {
  position: relative;
  right: 178px;
  height: 42px;
  width: 303px;
  top: 119px;
  outline: none;
}

.btn {
  height: 42px;
  width: 303px;
  background-color: #2e86de;
  color: white;
  /* display: flex; */
  position: relative;

  right: 177px;
  top: 147px;
  border-radius: 5px;
}


.transaction {
  flex: 1;

  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.transaction h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
  position: absolute;
  /* left: 332px; */
  color: black;
  right: 556px;
  top: 79px;
}

.trans {
  list-style-type: none;
}

.trans li {
  background-color: #fff;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  margin: 10px 0;
  position: relative;

  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  display: none;


}

.trans li.inc {
  position: absolute;
  left: 753px;
  top: 255px;
  width: 328px;
  border-left: 5px solid #d31d2f;
}


.trans li.exp {
  position: absolute;
  left: 748px;
  top: 184px;

  width: 328px;
  border-left: 5px solid #1dd1a1;
}

.trans li.exp1 {
  position: absolute;
  left: 755px;
  top: 330px;

  width: 328px;
  border-left: 5px solid #d31d1d;
}


.btn-del {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 600;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  opacity: 0;
}

.trans li:hover .btn-del {
  opacity: 1;
}

/* Target the scroll bar */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scroll bar */
}

/* Customize the track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table-container {
  display: flex;
  justify-content: start;
  align-items: center;

}

table {
  width: 372px;
  border-collapse: collapse;
  position: absolute;
  left: 767px;
  top: 135px;

}

th,
td {
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  justify-content: center;

}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.delete-button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}